<% @post = Post.friendly.last %>
<% provide(:title, "#{@post.title}") %>
<% provide(:row_info, 'View Our Blog') %>

<div class="container">
  <h2 class="text-center blog-page-title">EHLS Blog</h2>
  <div class="row">
    <div id="post" class="col-sm-9">
      <div id="show-post">
        <h3 class="blog-title">
          <%= @post.title %>
          <small><p>by <%= @post.author %></p></small>
        </h3>
        <p class="pull-right">
          posted on <%= friendly_date @post.created_at %>
              <% if logged_in? %> | <%= link_to 'Edit', @post %>
            <% end %>
          </p>
          </small>
        </p>
        <p class="text-justify"><%= raw @post.content %></p>
        <br>

        <h3>Comments</h3>

        <%= render @post.comments %>

        <%= form_for [@post, @post.comments.build] do |f| %>
            <div class='form-group'>
              <%= f.label :author %><br>
              <%= f.text_field :author, class: 'form-control', placeholder:'Your name', required:'required' %>
            </div>
            <div class='form-group'>
              <%= f.label :content %><br>
              <%= f.cktext_area :content, :ckeditor => {language: 'en', toolbar: 'comment'}, required: true, class: 'form-control', placeholder:'Your comments/questions' %>
            </div>
            <div class='actions'>
              <%= f.submit class:'btn btn-primary' %>
            </div>
        <% end %>
      </div>
    </div>
    <div id="sidebar" class="col-sm-3">
      <p class="text-justify">
        Get the latest on health benefits of foods, fruits and fruit juices.
        <% link_to 'Contact us', new_contact_path %> if you have any information to add. The information will be credited to you.
      </p>
      <ul>
        <li>
          <h2>Recent Posts</h2>
          <ul>
            <% posts = Post.all.order('created_at DESC') %>
            <% posts.each do |post| %>
                <li><%= link_to post.title, post %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>